---
layout: default
title: inchworms Summer of Code blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="meta">
      {% if post.twitter %}
          <a href='http://twitter.com/{{ post.twitter }}'>{{ post.author }}</a>,
        {% else %}
          {{ post.author }},
        {% endif %}
    <span class="date">{{ post.created_at | date: "%B %-d, %Y" }}</span>
    <span style="float:right" ><a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ post.title }}" data-via="inchworms_" data-hashtags="rgsoc">Tweet</a></span>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<br><br><br>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}

      {% if paginator.previous_page == 1 %}
          <a href="/blog" class="previous " style="padding-left:5px">Previous</a>
        {% else %}
          <a href="/blog/page{{ paginator.previous_page }}" class="previous " style="padding-left:5px">Previous</a>
        {% endif %}
    {% else %}
      <span class="previous" style="padding-left:5px">Previous</span>
    {% endif %}
    
    <span class="page_number " style="padding-left:30%; font-weight:normal; font-size:12px;">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

     
    {% if paginator.next_page %}
      <a href="/blog/page{{ paginator.next_page }}" class="next " style="float:right; padding-right:30px;">Next</a>
    {% else %}
      <span class="next " style="float:right; padding-right:30px;">Next</span>
    {% endif %}
  {% else %}
  {% endif %}
</div>
