---
class: page blog
layout: default
---


    <article class="main_content">
    <h1>{{ page.title }}</h1>
      <p class='meta'>
        {% if page.twitter %}
          <a href='http://twitter.com/{{ page.twitter }}'>{{ page.author }}</a> -
        {% else %}
          {{ page.author }} -
        {% endif %}
        <time datetime="{{ page.created_at | date: "%a %-d %B, %Y"  }}">{{ page.created_at | date: "%a %-d %B, %Y" }}</time>
        <span style="float:right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-via="inchworms_" data-hashtags="rgsoc" data-count="none">Tweet</a></span>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        
      </p>
      {{ content }}
      <p><img src="../../images/hr.png" style="50% 0 no-repeat"></p>
    </article>

